* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/1ef84595-1fdb-4404-adac-15215ceeb3ae/56ea3d27-5c65-4401-bd14-15b0b210662a/BR-pt-20220711-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    background-size: cover;
    background-position: top center;
}

#heading{
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.7);
}

#heading div {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#heading .h1 {
    font-size: 30px;
    text-transform: uppercase;
    padding: 15px 0px;
}

#heading a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
