* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.pai {
    width: 50rem;
    height: 100vh;
    background: red;
}

.pai > div {
    width: 50%;
    height: 40rem;
    background: pink;
}


.color-one {
    background: green;
}

.color-two {
    background: blue;
}

p {
    font-size: 2vmax;
}